{% extends "base.html" %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Item Number</th>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                {% if user.profile.job == "Owner" %}
                <th><a class="large button" href="{% url 'menu_item_update_view' item.pk %}">Edit</a></th>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ item.pk }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
