{% extends "base.html" %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Created</th>
                <th>Server</th>
                <th>Customer Name</th>
                <th>Items</th>
                <th>Note</th>
                <th>Complete</th>
                <th>Paid</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.created }}</td>
                <td>{{ object.server }}</td>
                <td>{{ object.customer_name }}</td>
                <td>{{ object.items }}</td>
                <td>{{ object.note }}</td>
                <td>{{ object.is_complete }}</td>
                <td>{{ object.is_paid }}</td>
                <td>{{ object.order_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
