/*.hero {
    background-image: url('/static/mighty_app/img/rest_img_hero_web.jpg');
    height: 150px;
}*/
.complete {
    background-color: green;
    color: white;
    font-weight: 900;
    text-align: center;
}
.not-complete {
    background-color: red;
    color: white;
    font-weight: 900;
    text-align: center;
}
.paid {
    background-color: green;
    color: white;
    font-weight: 900;
    text-align: center;
}
.not-paid {
    background-color: red;
    color: white;
    font-weight: 900;
    text-align: center;
}
