{% extends "base.html" %}

{% block body %}

    <h1>Welcome to the mighty_app</h1>

    {% if user.is_authenticated %}
        {% if user.profile.job %}
            <p>Welcome, Your role is {{ user.profile.job }}, if this is not correct, contact THE CREATOR</p>
        {% else %}
            <form class="" action="{% url 'profile_view' %}" method="post">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <input class="" type="submit" name="update" value="Update">
            </form>
        {% endif %}
    {% else %}
        <form class="" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input class="" type="submit" name="login" value="Login">
        </form>
    {% endif %}

    {# if owner: menu list view with edit button, link to add menu items #}
    <div class="row">
        <div class="small-6 columns">
            <h2 class="text-center">Add Menu Items</h2>
            <form class="form-center" action="{% url 'menu_item_create_view' %}" method="post">
                {% csrf_token %}
                {{ create_menu_item_form.as_p }}
                <input class="expanded button" type="submit" name="add_item" value="Add Item">
            </form>
        </div>
        <div class="small-6 columns">
            <h2 class="text-center">Menu</h2>
            <br>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Item Number</th>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in menu_item %}
                    <tr>
                        <th><a class="large button" href="{% url 'menu_item_update_view' item.pk %}">Edit</a></th>
                        <td>{{ item.pk }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# if server: cols, new order, unpaid&not complete order list, link to all orders #}
    <div class="row">
        <div class="small-6 columns">
            <iframe src="{% url 'order_create_view' %}" width="100%" height="1000px"></iframe>
        </div>
        <div class="small-6 columns">
            <h2 class="text-center">Your Unpaid & Not Complete Orders</h2>
            <a class="button" href="{% url 'order_list_view' %}">View All Orders</a>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Order #</th>
                        <th>Created</th>
                        <th>Customer Name</th>
                        <th>Items</th>
                        <th>Note</th>
                        <th>Complete</th>
                        <th>Paid</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in order_list %}
                        <tr>
                            <td><a class="large button" href="{% url 'order_detail_view' object.pk %}">Edit</a></td>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.created|time:"P" }}</td>
                            <td>{{ object.customer_name }}</td>
                            <td>{% for items in object.order_items.all %}
                                <ul>
                                    <li>{{ items }}</li>
                                </ul>
                            {% empty %}
                                No Items!
                            {% endfor %}</td>
                            <td>{{ object.note }}</td>
                            {% if object.is_complete %}
                                <td class="complete" >{{ object.is_complete }}</td>
                            {% else %}
                                <td class="not-complete" >{{ object.is_complete }}</td>
                            {% endif %}
                            {% if object.is_paid %}
                                <td class="paid" >{{ object.is_paid }}</td>
                            {% else %}
                                <td class="not-paid" >{{ object.is_paid }}</td>
                            {% endif %}
                            <td>${{ object.order_total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# if cook: list of all not complete orders, linkto edit and mark complete #}
    <div class="row">
        <div class="small-12 columns">
            <p>Complete?</p>
            <div class="switch large">
                {{ order_simple_form.is_complete|add_class:"switch-input" }}
                <label class="switch-paddle" for="id_is_complete">
                    <span class="show-for-sr">Complete?</span>
                    <span class="switch-active" aria-hidden="true">Yes</span>
                    <span class="switch-inactive" aria-hidden="true">No</span>
                </label>
            </div>
        </div>
    </div>

{% endblock %}
